# Copy this file to .env and fill real values locally

SPRING_PROFILES_ACTIVE=prod

DB_URL=jdbc:postgresql://db.bowjibnflublwammctiv.supabase.co:5432/postgres
DB_USER=postgres
DB_PASS=your_database_password_here

SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_gmail_app_password

JWT_SECRET=your_jwt_secret
ADMIN_EMAIL=admin@ccts.com
ADMIN_PASSWORD=admin123

UPLOAD_PATH=/uploads